 *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vw;
        margin: 0;
        padding: 0;
        background-image: url("/static/blue-gradient.png");
        background-position: center;
        background-size: cover;
        /* backdrop-filter: saturate(50%); */
       
    }


    
/* Navigation bar styling */
nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    position: fixed; /* Change position to fixed */
    top: 0; /* Position it at the top of the viewport */
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Logo styling */
.logo img {
    height: 60px;
    width: auto;
    padding-left: 50px;
}

/* Navigation content styling */
.nav-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 120px;
    margin-top: 12px;
}

.nav-content a {
    display: inline-block;
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 65px;
}

.nav-content a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav-content a:hover::before {
    width: 100%;
}

.btn-option {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    backdrop-filter: blur(1px);
}

.btn-option:hover {
    background-color: #5fa7d5;
    color: #fff;
}

/* Logout container styling */
.logout-container {
    position: absolute;
    top: 38px;
    right: 5px;
    color: aliceblue;
}

.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 95px;
}

.logout-link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.logout-link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.logout-link:hover::before {
    width: 100%;
}



/* User profile container styling */
.user-container {
    position: relative;
    display: flex;
    align-items: center;
    top: 8px;
}

.dropdown-arrow {
    width: 15px;
    height: 12px;
    cursor: pointer;
    margin-left: 1px;
    margin-top: 14px;
}

.user-pic {
    width: 50px;
    height: 50px;
    margin-right: 1px;
    cursor: pointer;
}

.user-container:hover .user-pic,
.user-container:hover .dropdown-arrow {
    transform: scale(1.1);
}

/* Dropdown menu styling */
.submenu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.submenu-link p {
    width: 100%;
}

.submenu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.submenu-link:hover p {
    font-weight: 600;
}

.submenu-link img:hover {
    transform: scale(1.1);
}



    .cointainer{
    max-width: 450px;
    padding: 28px;
    margin: 28px;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    border: 1px solid white; /* Adding a white border */
    backdrop-filter: blur(3px);
  }


  h2{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: floralwhite;
  padding-bottom: 8px;
  border-bottom: 1px solid silver;
}

.input-box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px;
}

.input-box input{
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}

/* .capitalize input{
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-transform: capitalize; /* capital letter*/

.input-box label{
    width : 95% ;
    margin: 5px 0;
    color:#ffffff;
    font-weight: bold;
    padding-top: 5px;
}

.btn_container button{
    width: 100%;
    margin-top: 8px;
    background-color: #5fa7d5; /* Green */
    font-size: 15px; /*text size*/
    color: white;
    padding: 8px 12px;
    border: 2px solid #5fa7d5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn_container button:hover{
  background-color: transparent;
  backdrop-filter: blur(1px);

}

#messages{
			
			color: #fff;
			padding: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

    .mt-4{
      padding-top: 10px;
    }

    .ml-2{
      color: rgb(133, 186, 255);
      text-decoration: none;
    }

    .ml-2:hover{
      color:white;
      font-weight: bold;
    }



/* footer */

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 15px 0; /* You can keep some padding */
    min-height: 30px; /* Set the minimum height */
    position: relative;
    bottom: 0;
    /* width: 100%; */
    margin-top: 15px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}
  
    
