* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/static/b.jpg");
    background-position: center;
    background-size: cover;
}

/* Navigation bar styling */
nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    position: relative;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo styling */
.logo img {
    height: 60px;
    width: auto;
    padding-left: 50px;
}

/* Navigation content styling */
.nav-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 120px;
    margin-top: 12px;
}

.nav-content a {
    display: inline-block;
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 65px;
}

.nav-content a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav-content a:hover::before {
    width: 100%;
}

.btn-option {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    backdrop-filter: blur(1px);
}

.btn-option:hover {
    background-color: #5fa7d5;
    color: #fff;
}

/* Logout container styling */
.logout-container {
    position: absolute;
    top: 38px;
    right: 5px;
    color: aliceblue;
}

.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 95px;
}

.logout-link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.logout-link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.logout-link:hover::before {
    width: 100%;
}


/* User profile container styling */
.user-container {
    position: relative;
    display: flex;
    align-items: center;
    top: 8px;
}

.dropdown-arrow {
    width: 15px;
    height: 12px;
    cursor: pointer;
    margin-left: 1px;
    margin-top: 14px;
}

.user-pic {
    width: 50px;
    height: 50px;
    margin-right: 1px;
    cursor: pointer;
}

.user-container:hover .user-pic,
.user-container:hover .dropdown-arrow {
    transform: scale(1.1);
}

/* Dropdown menu styling */
.submenu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.submenu-link p1 {
    width: 100%;
}

.submenu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.submenu-link:hover p1 {
    font-weight: 600;
}

.submenu-link img:hover {
    transform: scale(1.1);
}

  h2{
    color: aliceblue;
    margin-top: 20px;
  }

/* container box */
.box{
  display: flex;
      justify-content: center;
      /* align-items: center; */
      /* height: 600px; */
}

        
        table {
            color: #ffffff; /* Set text color to white */
            background-color: transparent; /* Set table background color */
            backdrop-filter: blur(6px);
            border: 2px solid #fff;
            align-items: center;
            justify-content: center;
            border-collapse: collapse;
            width: 100%;
            /* margin-top: 30px; */
        }


        table th,
        table td {
            border: 1px solid #ffffff; /* Set border color to white */
            padding: 14px; /*table size */
            text-align: center;
        }
        td form button {
    background-color: #4CAF50; 
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td form button:hover {
    background-color: #45a049;
}

/* action button */
/* action button */
.action-btn1, .action-btn2 {
    background-color: #5fa7d5;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #5fa7d5;
    text-decoration: none;
    margin-right: 10px; /* Add margin to create space between the buttons */
}

.action-btn1:hover {
    background-color: #45a049;
    text-decoration: none;
    color: white;
    border: 2px solid #45a049;
}

.action-btn2:hover {
    background-color: red;
    text-decoration: none;
    color: white;
    border: 2px solid red;
}




.button-container {
    display: flex;
    justify-content: center;
    gap: 8px; /* Adjust the gap between buttons */
    margin-top: 15px;
}


/* nx-btn */
.table-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
    gap: 8px;
}

.table-controls button {
    background-color: transparent;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* hover color */
.table-controls button:hover{
    background-color: #5fa7d5;
    color: #fff;
    backdrop-filter: blur(1px) saturate(180%);
}
