   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/static/blue-gradient.png");
    background-position: center;
    background-size: cover;
}

/* Navigation bar styling */
nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    position: relative;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo styling */
.logo img {
    height: 60px;
    width: auto;
    padding-left: 50px;
}

/* Navigation content styling */
.nav-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 120px;
    margin-top: 12px;
}

.nav-content a {
    display: inline-block;
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 65px;
}

.nav-content a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav-content a:hover::before {
    width: 100%;
}

.btn-option {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    backdrop-filter: blur(1px);
}

.btn-option:hover {
    background-color: #5fa7d5;
    color: #fff;
}

/* Logout container styling */
.logout-container {
    position: absolute;
    top: 38px;
    right: 5px;
    color: aliceblue;
}

.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 95px;
}

.logout-link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.logout-link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.logout-link:hover::before {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 80vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 2px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #ffffff;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background: #419dc7;
    cursor: pointer;
    backdrop-filter: blur(4px) saturate(50%);
    transition: background-color 0.3s, color 0.3s;
}

.search-bar button:hover {
    background-color: transparent;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* User profile container styling */
.user-container {
    position: relative;
    display: flex;
    align-items: center;
    top: 8px;
}

.dropdown-arrow {
    width: 15px;
    height: 12px;
    cursor: pointer;
    margin-left: 1px;
    margin-top: 14px;
}

.user-pic {
    width: 50px;
    height: 50px;
    margin-right: 1px;
    cursor: pointer;
}

.user-container:hover .user-pic,
.user-container:hover .dropdown-arrow {
    transform: scale(1.1);
}

/* Dropdown menu styling */
.submenu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.submenu-link p {
    width: 100%;
}

.submenu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.submenu-link:hover p {
    font-weight: 600;
}

.submenu-link img:hover {
    transform: scale(1.1);
}


/* Footer styling */
footer {
    background-color: transparent;
    color: white;
    text-align: center;
    min-height: 30px;
    position: fixed; /* Use fixed positioning to always stick at the bottom */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px 0; /* Add 20px padding at the bottom */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}





/* Contact us */
.contact {
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px #5fa7d5;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #5fa7d5;
}

.contact-info {
    text-align: left;
    padding-left: 30px;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.contact-info p {
    margin-bottom: 10px;
    color: #fff;
}

.contact-info i {
    color: #4caf50;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}
