
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/about.css">

</head>
<style>
 
</style>
<body>


    <nav class="navbar-container">
        <div class="logo">
            {% csrf_token %}
            <a href="/">  
                <img src="/static/pip.png" alt="Logo">
            </a>
        </div>
        
        <div class="nav-content">
            <a href="/home">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            <!-- <a href="/search" method="get" type="submit"><img src ="/static/searchbtn.png"></a> -->
    
        </div>
        
        <div class="logout-container"> 
            <span class="hello-msg">Hello, {{request.user}} |</span>
        </div>
    
        <div class="user-container" onclick="toggleMenu()">
            <img src="/static/pppp.png" class="user-pic" alt="User Picture">
            <img src="/static/dropdown.png" class="dropdown-arrow" alt="Dropdown Arrow">
        </div>
        
        <div class="submenu-wrap" id="subMenu">
            <div class="submenu">
                <a href="#" class="submenu-link">
                    <img src="/static/profile.png" alt="Profile">
                    <p1>Edit Profile</p1>
                </a>
                <a href="/about" class="submenu-link">
                    <img src="/static/abt.png" alt="About Us">
                    <p1>About Us</p1>
                </a>
                <a href="/contact" class="submenu-link">
                    <img src="/static/cnt.png" alt="Contact">
                    <p1>Contact</p1>
                </a>
                <a href="#" class="submenu-link">
                    <img src="/static/logout.png" alt="Logout">
                    <p1>Logout</p1>
                </a>
            </div>
        </div>
    </nav>
    
    <div class="box-about">
    <div class="container-about">
        <h2>About Us</h2>
        <p>"Welcome to PIPL, where innovation meets connectivity. We're not just another phone directory system; we're the architects of seamless communication solutions. Our journey began with a vision to revolutionize how individuals and businesses connect, transcending the barriers of traditional directories. At PIPL, our mission is clear:
             to provide a comprehensive and accessible platform that enhances communication and fosters meaningful connections. With a team of passionate tech enthusiasts at our helm, we've embarked on a relentless pursuit of excellence. Through cutting-edge technology and user-centric design, we've crafted a platform that empowers users to navigate the digital landscape with ease. From intuitive search algorithms to robust contact information, every aspect of PIPL is meticulously designed to deliver an unparalleled experience."<br><br>
    
            "However, our commitment doesn't end with our current achievements. We're dedicated to continuous improvement, constantly pushing the boundaries of innovation to meet the evolving needs of our users. Join us on our journey as we redefine the way you connect with the world around you. Discover the possibilities with PIPL and experience communication reimagined. Together, let's shape the future of connectivity and forge stronger connections in an ever-evolving digital age."
            </p>
    
    
    
    
    </div>
    </div>
    
    
    
    <footer>
    <div class="footer-content">
        <p>&copy; {{ current_year }} PIPL. All rights reserved.</p>
    </div>
    </footer>
    
    
    
    
    
    <script>
    let subMenu = document.getElementById("subMenu");
    let userContainer = document.querySelector(".user-container");
    
    function toggleMenu(event) {
       event.stopPropagation(); // Prevent the click event from bubbling up to the body
       subMenu.classList.toggle("open-menu");
    }
    
    // Function to hide submenu when clicking outside
    function handleClickOutside(event) {
       if (!subMenu.contains(event.target) && !userContainer.contains(event.target)) {
           subMenu.classList.remove("open-menu");
       }
    }
    
    // Event listener to handle clicks on the body
    document.body.addEventListener("click", handleClickOutside);
    
    // Event listener to handle clicks on the user container
    userContainer.addEventListener("click", toggleMenu);
    
    </script>
    
</body>
</html>
