{% extends 'accounts/search.html' %}


{% block content %}
<div class="cointainer my-3">
    <h2>Search Results:</h2>
    

<br>
        <div class="table table-bordered">
            <table>
                    <thead-light>
                    <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Social Media</th>
                        <th scope="col">Action</th> <!-- New column for edit and delete buttons -->
                        

                    </tr>
                </thead>
                <tbody>

                    {% for person in per %}
                    <tr>
                        <!-- <td>{{ person.first_name}} {{ person.last_name }}</td> -->
                        
                        <td>
                            {{ forloop.counter }}
                        </td>
                        
                        <td>
                            {% if person.first_name and person.last_name %}
                                {{ person.first_name }} {{ person.last_name }}
                            {% else %}
                               Not Available
                            {% endif %}
                        </td>

                        <td>
                            {% if person.phone.Number and person.phone.Number_type %}
                                {{ person.phone.Number }} ({{ person.phone.Number_type }})
                            {% else %}
                               Not Available
                            {% endif %}
                        </td>
                        <td>
                            {% if person.address and person.address.Address_type %}
                                {{ person.address }} ({{ person.address.Address_type}})
                            {% else %}
                               Not Available
                            {% endif %}
                        </td>
                        <td>
                            {% if person.email.email and person.email.email_type %}
                                {{ person.email.email }} ({{ person.email.email_type }})
                            {% else %}
                               Not Available
                            {% endif %}
                        </td>
                        
                        <td>
                            {% if person.media.User_Name and person.media.Linked_App %}
                                @{{ person.media.User_Name }} ({{ person.media.Linked_App}})
                            {% else %}
                               Not Available
                            {% endif %}
                        </td>
                        
                        <td><a href="{%url 'edit' person.id %}" style="background-color: green; color: 
                        white; text-decoration: none; padding: 5px 10px; border-radius: 5px;">Edit</a>
                        <a href="{%url 'delete' person.id%}" style="background-color: red; 
                        color: white; text-decoration: none; padding: 5px 10px; border-radius: 5px;">Delete</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" >No records found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
    
</div>
{% endblock %}