{% extends 'accounts/search.html' %}


{% block content %}
<div class="cointainer my-3">
    <h2>Search Results:</h2>
    

<br>
        <div class="table table-bordered">
            <table>
                    <thead-light>
                    <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Social Media</th>
                        <th scope="col">Action</th> <!-- New column for edit and delete buttons -->
                        
                    </tr>
                </thead>
                <tbody>

                    {% for person in per %}
                    <tr>
                        <!-- <td>{{ person.first_name}} {{ person.last_name }}</td> -->
                        
                        <td>
                            {{ forloop.counter }}
                        </td>
                        
                        <td>
                           
                                {{ person.first_name }} {{ person.last_name }}
                     
                        </td>

                        <td>
                            
                                {{ person.phone.Number }} ({{ person.phone.Number_type }})
                          
                        </td>
                        <td>
                            
                                {{ person.address }} ({{ person.address.Address_type}})
                         
                        </td>
                        <td>
                         
                                {{ person.email }} ({{ person.email.email_type }})
                         
                        </td>
                        
                        <td>
                         
                                {{ person.media.User_Name }} ({{ person.media.Linked_App}})
                    
                        </td>
                        
                        <td>
                            <form action="/edit/" method="post" style="display: inline;" name="button1">
                                {% csrf_token %}
                                <button type="submit" style="background-color: green;">Edit</button> <!-- edit button -->
                            </form>
                            <form action="/delete/" method="post" style="display: inline;" name="button2">
                                {% csrf_token %}
                                <button type="submit" style="background-color: red;">Delete</button> <!-- Delete button -->
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" >No records found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
    
</div>
{% endblock %}