{% extends 'accounts/search.html' %}


{% block content %}

<!-- navbar -->
<nav>
    <div class="logo">
        {% csrf_token %}
        <a href="/home">  
        <img src="/static/pip.png" alt="Logo">
        </a>
  </div>
  
  <img src="/static/pppp.png" class="user-pic" onclick="toggleMenu()">
  
  
  <div class="submenu-wrap" id="subMenu">
      <div class="submenu">
          <a href="#" class="submenu-link">
              <img src="/static/profile.png"  alt="Profile">
              <p>Edit Profile</p>
              <!-- <span>></span> -->
          </a>
  
          <a href="#" class="submenu-link">
              <img src="/static/setting.png" alt="Settings">
              <p>Settings</p>
              <!-- <span>></span> -->
          </a>
  
          <a href="{% url 'logout' %}" class="submenu-link">
              <img src="/static/logout.png" alt="Logout">
              <p>Logout</p>
              <!-- <span>></span> -->
          </a>
      </div>
  </div>
  
  </nav>



<div class="box">

<div class="cointainer my-3">
    

<br>
        <div class="table table-bordered">
            <table>
                    <thead-light>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Social Media</th>
                       
                        
                    </tr>
                </thead>
                <tbody>

                    
                    <tr>
                        <!-- <td>{{ person.first_name}} {{ person.last_name }}</td> -->
                        
                     
                        
                        <td>
                          
                                {{ detail.first_name }} {{ detail.last_name }}
                        
                        </td>

                        <td>
                         
                                {{ detail.phone.Number }} ({{ detail.phone.Number_type }})
                        
                        </td>
                        <td>
                                {{ detail.address }} ({{ detail.address.Address_type}})
                          
                        </td>
                        <td>
                                {{ detail.email }} ({{ detail.email.email_type }})
                          
                        </td>
                        <td>
                             {{ detail.media.User_Name }} ({{ detail.media.Linked_App}})
                
                        </td>
                        
                     
                   
                  
           
                </tbody>
            </table>
           
        </div>
        <div class="button-container">
        <form method="post" name="button2">
            {% csrf_token %}
            <button class="action-btn1" >Confirm</button> <!-- Delete button -->
        </form>
        <form action="/all" name="button1">
            <button type="submit" class="action-btn2">Cancel</button> <!-- edit button -->
        </form>
        
        </div>



<!--         
        <div class="button-container">
            <form method="POST" style="display: inline;" name="button1">
                {% csrf_token %}
                <a ><button style="background-color: red;">Confirm</button></a>
            </form>
            <form action="/all" style="display: inline;" name="button2">
            <a ><button style="background-color: green;">Cancel</button></a>
        </form>
         </div> -->
        
    </div>
    
</div>



<script>
    let subMenu = document.getElementById("subMenu");
    let userPic = document.querySelector(".user-pic");

    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }

    // Function to hide submenu when clicking outside
    function handleClickOutside(event) {
        if (!subMenu.contains(event.target) && !userPic.contains(event.target)) {
            subMenu.classList.remove("open-menu");
        }
    }

    // Event listener to handle clicks on the body
    document.body.addEventListener("click", handleClickOutside);
</script>

{% endblock %}


