{% extends 'accounts/main.html' %}

{% block content %}

<!-- /* home remake */ -->
<nav>
    <div class="logo">
        {% csrf_token %}
        <a href="/home">  
        <img src="/static/pip.png" alt="Logo">
        </a>
</div>

      
<div class="logout-container"> 
    <span class="hello-msg">Hello, {{request.user}} |</span>
    <!-- <span><a class="hello-msg logout-link" href="{% url 'logout' %}">Logout</a></span>  -->
    </div>
    
    <div class="user-container" onclick="toggleMenu()">
        <img src="/static/pppp.png" class="user-pic">
        <img src="/static/dropdown.png" class="dropdown-arrow">
    </div>
    


    <div class="submenu-wrap" id="subMenu">
        <div class="submenu">
            <a href="#" class="submenu-link">
                <img src="/static/profile.png"  alt="Profile">
                <p>Edit Profile</p>
                <!-- <span>></span> -->
            </a>
    
            <a href="#" class="submenu-link">
                <img src="/static/setting.png" alt="Settings">
                <p>Settings</p>
                <!-- <span>></span> -->
            </a>
    
            <a href="{% url 'logout' %}" class="submenu-link">
                <img src="/static/logout.png" alt="Logout">
                <p>Logout</p>
                <!-- <span>></span> -->
            </a>
        </div>
    </div>

   

</nav>

<div class="container">
    <form action="/search" method="get" class="search-bar">
        <input type="text" placeholder="Search" name="query" id="search" required>
        <button type="submit"><img src="/static/search.png"></button>
    </form>
    <div class="button-container">
        <a class="btn-option" href="/all">All Contacts</a>
        {% if request.user.is_staff %}
        <a class="btn-option" href="/add">Add Contact</a>
        {% endif %}
    </div>
</div>



<footer>
    <div class="footer-content">
        <p>&copy; {{ current_year }} PIPL. All rights reserved.</p>
    </div>
</footer>
   

<script>
    let subMenu = document.getElementById("subMenu");
    let userPic = document.querySelector(".user-pic");

    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }

    // Function to hide submenu when clicking outside
    function handleClickOutside(event) {
        if (!subMenu.contains(event.target) && !userPic.contains(event.target)) {
            subMenu.classList.remove("open-menu");
        }
    }

    // Event listener to handle clicks on the body
    document.body.addEventListener("click", handleClickOutside);
</script>





<!-- 

<nav>
    <div class="logo">
        {% csrf_token %}
        <a href="/">  
        <img src="/static/pip.png" alt="Logo">
        </a>
</div>
    <div class="contain">
        {% csrf_token %}

        <div class="button2">  
            <form method="get" action="/all" name="all" id="all">
                {% csrf_token %}
                <button class="button2" type="submit">All Contacts</button>
            </form>  
         
        </div>
        
        {% if request.user.is_staff %}

        <div>  
            <form method="get" action="/add" name="add" id="add">
                {% csrf_token %}
                <button class="button" type="submit">Add Contact</button>
            </form>
        </div>
        {% endif %}</div>
 
    
</nav>
    <div class="container">
        <form action="/search" method="get" class="search-bar">
            <input type="text" placeholder="Search" name="query" id="search" required>
            <button type="submit"><img src="/static/search.png"></button>
        </form>
       
    </div>
    
    <div class="logout-container"> 
        <span class="hello-msg">Hello,{{request.user}}</span>
        <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span> 
        </div>
        -->
   

  <!-- Button element -->
  
  
    <!-- JavaScript function to handle button click -->
    <!-- <script>
      function myFunction() {
        alert("Button clicked!");
        // You can add your desired functionality here
      }
    </script> -->
    <!-- </div> -->
    <!-- Hint text -->
          <!-- <p class="hint-text">"Enter First Name or Last Name"</p> -->
      <!-- </div> -->



{% endblock %}